body{
    background-color: rgb(219, 219, 219);
    display: flex;
}

.main{
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-areas: "header header header header"
                         "left-sidebar search-head search-head right-sidebar"
                         "left-sidebar temp-main-div icon-main-div right-sidebar"
                         "left-sidebar cur-day-description cur-day-description right-sidebar"
                         "left-sidebar day-info day-info right-sidebar"
                         "left-sidebar day-params next-days right-sidebar"
                         "left-sidebar sun-live sun-live right-sidebar"
                         "footer footer footer footer";
    grid-template-columns: 1fr 8fr 4fr 1fr;
}

.main > div, .day-params > p, .temp-main-div > p{
    border: 1px solid black;
}

.header{
    grid-area: header;
}

.left-sidebar{
    grid-area: left-sidebar;
}

.right-sidebar{
    grid-area: right-sidebar;
}

.search-head{
    grid-area: search-head;
}

.temp-main-div{
    grid-area: temp-main-div;
    display: flex;
    flex-direction: column;
}

.icon-main-div{
    grid-area: icon-main-div;
}

.cur-day-description{
    grid-area: cur-day-description;
}

.day-info{
    grid-area: day-info;
    display: flex;
    justify-content: space-between;
    gap: min(5px, 5%);
    padding: 0 1% 0 1%;
}

.day-params{
    grid-area: day-params;
    display: grid;
    grid-template-areas: "dew humidity"
                         "pressure cloudcover";
}

.next-days{
    grid-area: next-days;
    display: flex;
    flex-direction: column;
}

.sun-live{
    grid-area: sun-live;
}

.footer{
    grid-area: footer;
}

.dew{
    grid-area: dew;
}

.humidity{
    grid-area: humidity;
}

.pressure{
    grid-area: pressure;
}

.cloudcover{
    grid-area: cloudcover;
}

.day-div{
    padding-left: 2%;
    display: flex;
    gap: 5%;
}

.day-icon{
    width: 10%;
}

.hour-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.hour-icon{
}