body{
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: center;
}

p{
    padding: 0;
    margin: 0;
}

.main{
    min-width: 1300px;
    max-width: 1600px;
    background-color: white;
    display: grid;
    grid-template-areas: "header header header header"
                         "left-sidebar search-head search-head right-sidebar"
                         "left-sidebar temp-main-div icon-main-div right-sidebar"
                         "left-sidebar cur-day-description cur-day-description right-sidebar"
                         "left-sidebar day-info day-info right-sidebar"
                         "left-sidebar day-params next-days right-sidebar"
                         "left-sidebar sun-live sun-live right-sidebar"
                         "footer footer footer footer";
    grid-template-columns: 1fr 6fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 3fr 1fr 2fr 10fr 1fr 1fr;
}

.main > div, .day-params > p, .temp-main-div > p{
    border: 1px solid black;
}

.header{
    grid-area: header;
}

.left-sidebar{
    grid-area: left-sidebar;
}

.right-sidebar{
    grid-area: right-sidebar;
}

.search-head{
    grid-area: search-head;
    display: flex;
    justify-content: center;
    align-items: center;
}

.temp-main-div{
    grid-area: temp-main-div;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
}

.icon-main-div{
    grid-area: icon-main-div;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cur-day-description{
    grid-area: cur-day-description;
    display: flex;
    align-items: center;
    justify-content: center;
}

.day-info{
    grid-area: day-info;
    display: flex;
    justify-content: space-between;
    /* gap: min(100px, 1vw); */
    padding: 1%;
}

.day-params{
    grid-area: day-params;
    display: grid;
    grid-template-areas: "dew humidity"
                         "pressure cloudcover";
}

.next-days{
    grid-area: next-days;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sun-live{
    grid-area: sun-live;
}

.footer{
    grid-area: footer;
}

.dew{
    grid-area: dew;
}

.humidity{
    grid-area: humidity;
}

.pressure{
    grid-area: pressure;
}

.cloudcover{
    grid-area: cloudcover;
}

.day-div{
    height: min(40px, 4vh);
    padding-left: 2%;
    display: flex;
    gap: 5%;
    align-items: center;
}

.day-icon{
    width: 10%;
}

.hour-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.hour-icon{
}

.weather-icon{
    width: 90%;
}

.day-date{
    width: 18px;
}

#city{
    font-size: 1.5em;
}

.submit{
    font-size: 1.5em;
}

.temp-main-div > p {
    font-size: 3em;
}

.cur-day-description > p {
    font-size: 2em;
}

.day-params > div{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.day-params p:first-child{
    font-size: 2em;
}

.day-params p:last-child{
    font-size: 10em;
}

.day-params .unit{
    font-size: 0.2em;
}


